
/*NAVBAR NAV FOR HEADER*/
.testerNav {
    background-color: #409090;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #eeeeee;
}
.testerNav ul {
    background-color: #409090;
}
.testerNav a {
    background-color: #409090;
    color: #f5f5f5 !important;
    font-weight: bold;
    height: 48px;
}
.testerNav a:hover {
    background-color: #60b0b0 !important;
    color: #ffffff !important;
}
.testerNav a:focus {
    background-color: #60b0b0 !important;
    color: #f5f5f5 !important;
}
.testerNav li > ul > li > a {
    height: 25px;
}
/*--------------------------*/

/*NAVBAR UL FOR TIMER*/
.timerNav {
    position: absolute;
    margin-top: -30px;
    text-align: center;
    width: 100%;
}
.timerNav li {
    float: none;
    display: inline-block;
}
.timerNav span {
    font-size: 35px;
    font-weight: bold;
    color: #f5f5f5;
}
.timerNav-alert span {
    color: #ff8080;
}
/*--------------------------*/
.navbarLink {
	text-decoration: none;
}
.navbarLink:hover {
	font-style: italic;
	text-decoration: none;
}

.navbarCopyright {
	cursor: default;
	text-decoration: none;
}
.navbarCopyright:hover {
	cursor: default;
	text-decoration: underline;
}
/*------------------------------*/

/*MAIN BODY*/
.testerBody {
    background-color: #fafafa;
}
.testerBody h1 {
    color: #308080;
}
.testerBody h2 {
    color: #606060;
}
.testerBody h2 > span {
    color: #408080!important;
    opacity: 0.9;
}
.testerBody h3 {
    color: #408080;
}
.testerBody h3 > span {
    color: #408080!important;
    opacity: 0.9;
}
.testerBody a {
    color: #505050;
}
.testerBody button {
    background-color: #50a0a0;
    color: #efefef;
    font-weight: bold;
}
.testerBody button:hover {
    background-color: #80d0d0;
    color: #efefef;
}
.testerBody button:focus {
    background-color: #80d0d0;
    color: #efefef;
}
/*--------------------------*/

/*ICONS*/
.infoIcon {
	color: #409090;
	cursor: pointer;
}
.infoIcon:hover {
	font-size: 18px;
}
.infoIcon:active {
	font-size: 16px;
}
/*--------------------------*/

/*BUTTONS*/
.logoutBtn {
    color: #f5f5f5 !important;
    background-color: transparent !important;
    border: none !important;
}
.transparentCloseBtn {
    border: none!important;
    background-color: transparent!important;
    color: #e04040!important;
}
.testerBodyBtnInverse {
    background-color: #ffffff!important;
    color: #50a0a0!important;
    font-weight: bold!important;
}

.bodyBtn{
	background-color: #50a0a0;
	color: #efefef;
	font-weight: bold;
}
.bodyBtn:hover {
	background-color: #80d0d0;
	color: #efefef;
}
.bodyBtn:focus {
	background-color: #80d0d0;
	color: #efefef;
}
/*--------------------------*/


/*STATS TABLE*/
.statsTable {
	width: 100%;
}
.statsTable th {
    background-color: #207070;
    border: 1px solid #005050;
	border-top: none;
    color: #f5f5f5;
    cursor: pointer;
	padding: 8px;
}
.statsTable tr {
    background-color: #f5f5f5;
}
.statsTable tr:hover {
	background-color: #fdfdfd!important;
}
.statsTable td {
	border: 1px solid #c0c0c0;
	padding: 8px;
}
.statsTableRowS1 {
    background-color: #f5f5f5;
}
.statsTableRowS2 {
	color: #207070;
    font-weight: bold;
}
.statsTableCellTest {
    color: inherit;
}
.statsTableCellTraining {
    color: #3070a0;
}
.statsTableInsetTh {
	border: none!important;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.statsTableInsetNeighborTh {
	background-color: #fafafa!important;
	border: none!important;
}
/*--------------------------*/


/*ICON SPAN*/
.iconSpan {
    padding-top: 7px;
    padding-left: 8px;
    padding-right: 8px;
}
.iconSpan i {
    font-size: 18px;
    color: #409090;
}
/*--------------------------*/


.notAccessible{
	/*background: rgba(255, 0, 0, 0.60) !important;*/
	opacity: 0.5;
	cursor: no-drop!important;
}
.notAccessible_questions{
	opacity: 0.5;
	/*background: rgba(255, 0, 0, 0.34)!important;*/
}

/*Questions Group page*/

.algorithmAreaWrapper{

	position: relative;
	z-index: 1;
	height: 32%;
	width: 98%;
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	padding: 0.4% 0.9%;

	background-color: #50a0a0;
}
.algorithmAreaWrapper:after{

	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.algorithmArea{
	overflow-y: auto;
	height: 100%;
	width: 100%;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
    background-color: #fafafa;
}



.areaTitle{
 	color: #085050;
 	margin-left: 3%;
 	/*margin-bottom: 0.1%;*/
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.areaTitleInTable{
	color: #085050;
	/*margin-bottom: 0.1%;*/
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
		 
.algorithmArea th{
	width: 50%;
	padding: 0.4% 0.94%;
	vertical-align: middle;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.algorithmArea th > select{
	width: 40%;
	padding: 4px;
	margin-top: 0px;
}
.algorithmArea th > i {
	margin-top: -23px;
	margin-left: 41%;
	font-size: 18px;
	color: #409090;
}
.algorithmArea th > i:hover {
	margin-top: -25px;
	font-size: 20px;
	cursor: pointer;
}
.algorithmArea th > i:active {
	margin-top: -23px;
	font-size: 18px;
	cursor: pointer;
}

.algorithmParam div{
	width: 100%;
	padding: 0.4% 0.94%;
	vertical-align: middle;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

/*.algorithmParam p{*/
	/*width: auto;*/
	/*vertical-align: middle;*/
	/*margin-bottom: 0px;*/
	/*margin-top: 1%;*/
	/*margin-left: 1.6%;*/
	/*margin-right: auto;*/
/*}*/

.colomnTitle{
	color: #257070;
	font-family: Verdana;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
	padding: 7px auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.colomn{
	overflow: none;
	vertical-align: top;
	text-overflow: ellipsis;
}

.question{
	width: 95%;
	margin: 3px;
	margin-left: 2.5%;
	text-align: left;
	white-space: normal;
	background-color: #60b0b0;
	color: #404040;
}
.question:hover{
	width: 96%;
	margin-left: 2%;
	color: #404040;
}

.questionTable th > p{
	font-size: large;
}
.questionTable i {
	font-size: 30px;
	color: #409090;
}

.ui-sortable-helper{/* dragget question */
	background: linear-gradient(0deg, rgba(60, 140, 140, 0.9), rgba(96, 176, 176, 0.85) 80%)!important;
	border: 1px solid rgba(255, 255, 255, 0)!important;
	box-shadow: 10px 10px 10px rgba(16, 26, 45, 0.5);
	margin-left: 0.5%!important;
	margin-right: 0.5%!important;
}
/*
.ui-sortable-placeholder{
	height: 100px;
}*/
/*--------------------------*/



/*WRENCH ICON*/
.wrenchIcon {
	color: transparent;
	cursor: pointer;
}
.wrenchIcon:hover {
	color: #409090;
}
.wrenchIcon:active {
	margin-left: 5px;
}
.wrenchIcon-disabled:hover {
	color: #808080;
}
/*--------------------------*/


/*ERROR PAGE*/
.viewButton{
	cursor: pointer;
	margin: 15px 6px;
	width: auto;
	color: #358585;
	font-family: Verdana;
	display: inline-block;
/*	display: inline;  IE6 */
}
.viewButton:hover{
	text-decoration: underline;
	color: #60b0b0;
}
.viewButton:active{
	text-decoration: underline;
	color: #106060;
}

.hiddenText{
	position: relative;
	z-index: 1;
	width: 60%;
	border-top-left-radius: 18px 15px;
	border-top-right-radius: 18px 15px;
	border-bottom-right-radius: 18px 15px;
	border-bottom-left-radius: 18px 15px;
	margin: auto 37% 45px 3%;
	cursor: text;
	color: #010101;
	background: linear-gradient(#D0D0D0, #AFAFAF);
	display: none;
}
.hiddenText:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0.29%;
	left: 0.3%;
	right: 0.3%;
	bottom: 0.29%;
	border-top-left-radius: 18px 15px;
	border-top-right-radius: 18px 15px;
	border-bottom-right-radius: 18px 15px;
	border-bottom-left-radius: 18px 15px;
	border: #ffffff dashed 1px;
}
/*--------------------------*/



/* SQUARED THREE */
.squaredThree {
	width: 22px;
	position: relative;
	font-size: 18px;
	padding-top: 1px;
}

.squaredThree label {
	cursor: pointer;
	position: absolute;
	width: 22px;
	height: 22px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #005050 0%, #409090 100%);
	background: -moz-linear-gradient(top, #005050 0%, #409090 100%);
	background: -o-linear-gradient(top, #005050 0%, #409090 100%);
	background: -ms-linear-gradient(top, #005050 0%, #409090 100%);
	background: linear-gradient(top, #005050 0%, #409090 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredThree label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 10px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 4px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredThree label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}





/* SQUARED THREE INVERSE*/
.squaredThree-inverse {
	width: 22px;
	position: relative;
	font-size: 18px;
	padding-top: 1px;
}

.squaredThree-inverse label {
	cursor: pointer;
	position: absolute;
	width: 22px;
	height: 22px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #fcfff4 0%, #eeeeee 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #eeeeee 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #eeeeee 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #eeeeee 100%);
	background: linear-gradient(top, #fcfff4 0%, #eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredThree-inverse label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 10px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 4px solid #409090;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredThree-inverse label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredThree-inverse input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}


/* SQUARED THREE INVERSE BRIGHT*/
.squaredThree-inverse-bright {
	width: 22px;
	position: relative;
	font-size: 18px;
	padding-top: 1px;
}

.squaredThree-inverse-bright label {
	cursor: pointer;
	position: absolute;
	width: 22px;
	height: 22px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(50, 50, 50,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(50, 50, 50,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(50, 50, 50,.4);

	background: -webkit-linear-gradient(top, #fcfff4 0%, #fcfff4 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #fcfff4 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #fcfff4 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #fcfff4 100%);
	background: linear-gradient(top, #fcfff4 0%, #fcfff4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredThree-inverse-bright label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 10px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 4px solid #308080;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredThree-inverse-bright label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredThree-inverse-bright input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}





/* ROUNDED TWO */
.roundedTwo {
	width: 25px;
	height: 25px;
	background: #fcfff4;
	font-size: 18px;
	padding-top: 1px;
	position: relative;
}

.roundedTwo label {
	cursor: pointer;
	position: absolute;
	width: 22px;
	height: 22px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 4px;
	top: 2px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #005050 0%, #409090 100%);
	background: -moz-linear-gradient(top, #005050 0%, #409090 100%);
	background: -o-linear-gradient(top, #005050 0%, #409090 100%);
	background: -ms-linear-gradient(top, #005050 0%, #409090 100%);
	background: linear-gradient(top, #005050 0%, #409090 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedTwo label:after {
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	cursor: pointer;
	position: absolute;
	width: 12px;
	height: 12px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 5px;
	top: 5px;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #fcfff4 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #fcfff4 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #fcfff4 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #fcfff4 100%);
	background: linear-gradient(top, #fcfff4 0%, #fcfff4 100%);
}

.roundedTwo label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.roundedTwo input[type=radio]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}



/* ROUNDED TWO INVERSE*/
.roundedTwo-inverse {
	width: 25px;
	height: 25px;
	background: #fcfff4;
	font-size: 18px;
	padding-top: 1px;
	position: relative;
}

.roundedTwo-inverse label {
	cursor: pointer;
	position: absolute;
	width: 22px;
	height: 22px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 4px;
	top: 2px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #fcfff4 0%, #eeeeee 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #eeeeee 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #eeeeee 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #eeeeee 100%);
	background: linear-gradient(top, #fcfff4 0%, #eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedTwo-inverse label:after {
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	cursor: pointer;
	position: absolute;
	width: 12px;
	height: 12px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 5px;
	top: 5px;

	background: -webkit-linear-gradient(top, #005050 0%, #409090 100%);
	background: -moz-linear-gradient(top, #005050 0%, #409090 100%);
	background: -o-linear-gradient(top, #005050 0%, #409090 100%);
	background: -ms-linear-gradient(top, #005050 0%, #409090 100%);
	background: linear-gradient(top, #005050 0%, #409090 100%);
}

.roundedTwo-inverse label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.roundedTwo-inverse input[type=radio]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/* ROUNDED TWO INVERSE BRIGHT*/
.roundedTwo-inverse-bright {
	width: 25px;
	height: 25px;
	background: #fcfff4;
	font-size: 18px;
	padding-top: 1px;
	position: relative;
}

.roundedTwo-inverse-bright label {
	cursor: pointer;
	position: absolute;
	width: 22px;
	height: 22px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 4px;
	top: 2px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(200, 200, 200,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(200, 200, 200,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(200, 200, 200,1);

	background: -webkit-linear-gradient(top, #fcfff4 0%, #fcfff4 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #fcfff4 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #fcfff4 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #fcfff4 100%);
	background: linear-gradient(top, #fcfff4 0%, #fcfff4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedTwo-inverse-bright label:after {
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	cursor: pointer;
	position: absolute;
	width: 12px;
	height: 12px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 5px;
	top: 5px;

	background: -webkit-linear-gradient(top, #005050 0%, #409090 100%);
	background: -moz-linear-gradient(top, #005050 0%, #409090 100%);
	background: -o-linear-gradient(top, #005050 0%, #409090 100%);
	background: -ms-linear-gradient(top, #005050 0%, #409090 100%);
	background: linear-gradient(top, #005050 0%, #409090 100%);
}

.roundedTwo-inverse-bright label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.roundedTwo-inverse-bright input[type=radio]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}